#boxInput{
	margin: 30px auto;
	width: 80%;
	position: relative;
	text-align: center;
}

#inputBuscar{
	width: 40%;
	border: none;
	border-bottom: 1px solid #000;

	
}

#lupita{
	position: absolute;
	height:23px;
	right: 260px;
	top: 2px;	
}
.hidden{
	display: none;
}
.muestra{
	position: relative;
	width: 100px;
	padding: 10px;
	background: #ccc;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.muestra h6{
	display: inline-block;

}
.muestra span{
	position: absolute;
	right: 10px;
	bottom: 15px;
	font-weight: bolder;
}