.active{
	transition-duration: 0.50s;
	color: forestgreen;
}
.slider{
	/*border: 2px solid #000;*/
	width: 90%;
	height: 400px;
	margin: 30px auto;
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	column-gap: 50px;


}
.ionicon{
	/*background: red;*/
	color: #ccc;
	z-index: 1;
	position: absolute;
	height: 75%;
	width: 50px;
	cursor: pointer;
}
#fle-left{
	left: -50px;

}
#fle-right{
	right: -50px;
	transform: rotate(180deg);
}
#imgleft{
	width: 25%;
	border-radius: 5px;
	position: absolute;
	left: 0;
	
}
#imgcenter{
	width:40%;
	border-radius: 5px;
	position: absolute;
	z-index: 1;

}
#imgright{
	width: 25%;
	border-radius: 5px;
	position: absolute;
	right: 0;
}
#coment{
	text-align: center;
	position: absolute;
	width: 35%;
	bottom: -20px;
}